
.icon-facebook-rect:before { content: '\e800'; } /* '' */
.icon-behance:before { content: '\e801'; } /* '' */
.icon-instagram-filled:before { content: '\e803'; } /* '' */
.icon-vimeo-rect:before { content: '\e804'; } /* '' */
.icon-linkedin-rect:before { content: '\e805'; } /* '' */