@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    box-sizing: border-box;

    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
	margin: 0;
	font-family:'Raleway', sans-serif;
	font-weight: 300;

}

/* ------------------- 404 page styling */

.oopsies{
	opacity: .7;
	z-index: 100;
	width: 75%;
	padding-left: 9em;
}

.oops-section p{
	color: white;
	padding-right: 5em;
	text-align: right;
	font-size: 30px;
	text-shadow: 3px 3px 3px black;
}

/* ------------------ 404 page styling ends */

h1{
	font-family: 'Raleway', sans-serif;;
	text-transform: uppercase;
	font-size: 16px;
	text-align: left;
	font-weight: 400;
}

h2{
	font-family: dancing script;
	font-size: 40px;
	color: rgba(80,191,174,1);
	padding-top: 1em;
}

.flex-img{
	display: block;
	width:100%;
	margin: 0 auto;
}

.img-bunch{
	padding-top: 1em;
}

/* ------------------- Navigation */

.header-section{
	position: fixed;
	width: 100%;
	z-index: 100;
	background-color: #031815;
	padding: 1rem;
}

ul#nav-list{
	margin: 1rem 0;
	padding: 0;
	list-style: none;
	text-align: center;
	display: inline;
}


ul#nav-list li a {
	text-decoration: none;
	padding: 5px;
	width: 100px;
	color: white;
	text-transform: uppercase;
	font-size: 10px;
}

ul#list-nav li a:hover {
	background: #031815;
	color: rgba(80,191,174,1);
}

.header-li {
	display: inline;
}

.nav-logo{
	width: 25px;
	text-align: right;
}

/* ----------------- Banner section */


.logo{
	width:130px;
	opacity: .7;
	display: block;
	margin: 0 auto;
}

.banner-section{
	background: transparent url('../images/pine-cones.jpg') no-repeat center;
	background-size: cover;
	padding:5rem 0 1rem;
	position: in;
	}

/*--------------- design section */

.design-section img{
	width: 100%;
	padding: 0 3px;
	margin: 0;
}

.design-section p{
	text-align: center;
	padding: 0 6px;
}

/* ---------------- photography section */

.photography-section img{
	width: 100%;
}

.photography-section p{
	text-align: center;
}

/* ----------------- About Section */

.about-section{
	padding: 5px;
}

.about-section p{
	text-align: center;
}

.about-section img{
	width: 100%;
}

/* ------------------ Contact Section */

.contact-section h2,{
	color: white;
	text-align: center
}

.contact-section p{
	color: white;
}

.contact-section ul li{
	text-decoration: none;
	padding: 5px;
	width: 100px;
	color: white;
}

.contact-section{
	background-color:#031815;
	text-align: center;
	padding: 0;
}

.contact-li{
	display: inline-block;
}



/* ------------------ Footer Section */
.footer{
	color: white;
	font-size: 8px;
	padding: 1em 0;
}

/* 400px */
@media only screen and (min-width: 25em) {

ul#nav-list li a {
	padding: 5px;
	font-size: 15px;
}

.logo{
	width:170px;
	opacity: .7;
}

.banner-section{
	background: transparent url('../images/pine-cones.jpg') no-repeat center;
	background-size: cover;
	padding: 10em 0 5em;
}

.design-section p{
	padding: 0 1em;
}

.photography-section{
	padding: 0 1em;
}

.photography-section img{
	width: 100%;
}

.about-section{
	padding: 0 1em;
}

.contact-section{
	padding: 0 1em;
}

}

/* 604px */
@media only screen and (min-width: 38em){

ul#nav-list li a {
	padding: 15px;
	font-size: 15px;
}

.header-li {
	display: inline;
}

.logo{
	width:400px;
	opacity: .7;
}

.banner-section{
	background: transparent url('../images/pine-cones.jpg') no-repeat center;
	background-size: cover;
	padding: 11rem 0;
}

.about-section{
	padding: 0 6em;
}

.about-section p{
	padding: 0 2em;
	text-align: left;
}

.design-section{
	padding: 0 1em;
}

.design-section p{
	padding: 0 2em;
	text-align: left
}

.design-section img{
	width: 100%;
	padding-bottom: 0;
}

.photography-section{
	padding: 0 1em;
}

.photography-section p{
	padding: 0 2em;
	text-align: left;
}

.photography-section img{
	width: 100%;
	padding-bottom: 0;
}

.contact-section{
	padding: 0 8em;
}

.contact-section p{
	text-align: center;
}



}
