@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    box-sizing: border-box;

    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
	margin: 0;
	font-family:'Raleway', sans-serif;
	font-weight: 300;
	color: #8f8f8f;
}



/* ------------------- 404 page styling */

.oops-section p{
	color: white;
	text-align: right;
	font-size: 30px;
	text-shadow: 3px 3px 3px black;
}

.oops-section{
	position: absolute;
	top: 30em;
	left: 13em;
}

/* ------------------ 404 page styling ends */

h1{
	font-family: 'Raleway', sans-serif;;
	text-transform: uppercase;
	font-size: 16px;
	text-align: center;
	font-weight: 700;
	color: white;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 1em;
	padding-right: 1em;
	margin: 0;
	background-color: #59dfb4;
	margin-bottom: 1.5em;
	box-shadow: 0px -4px 5px 0px rgba(0,0,0,0,2);
}

h2{
	font-family: raleway;
	font-weight: 700;
	font-size: 40px;
	color: #59dfb4;
}

.quote{
	font-family: raleway;
	font-weight: 400;
	font-size: 25px;
	text-align: center;
}

p{
	padding-bottom: 10px;
}

.flex-img{
	display: block;
	width:100%;
	margin: 0 auto;
}

/* ------------------- Navigation */

.header-section{
	position: fixed;
	overflow: hidden;
	width: 100%;
	z-index: 100;
	background-color: rgba(35,34,35,.9);
	box-shadow: 0 4px 4px rgba(0,0,0,0.3);
}

ul#nav-list{
	text-align: center;
	padding: 0;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	list-style: none;
	padding-bottom: 1em;
}

ul#nav-list li a {
	text-decoration: none;
	padding: 15px;
	width: 100px;
	color: #59dfb4;
	text-transform: uppercase;
	font-size: 13px;
}

ul#nav-list li a:hover {
	border-bottom: 1px solid #59dfb4;
}

ul#nav-list li a:active {
	border-bottom: 1px solid #59dfb4;
}

.header-li {
	display: inline-block;
	padding-top: 1.5em;
	/*padding-right: 5px;*/
}

.nav-logo-2{
	display:none;
	width: 60px;
	float: left;
}

.nav-logo-1{
	display: absolute;
	position: fixed;
	width: 18%;
	bottom: 0;
	right: 0;
	margin-bottom: 1em;
	margin-right: 1em;
	z-index: 100;
}

/* ----------------- Banner section */

.banner-section{
	z-index: 100;
}

.banner-img{
	display: block;
	padding-top: 55px;
	background-color: rgba(35,34,35,1);
	width: 100%;
	height: auto;
}

/* ----------------- About Section */

.about-section{
	padding-bottom: 2em;
}

.about-section p{
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
	color: #8f8f8f;
}

.about-section img{
	display: inline-block;
	width: 100%;
	text-align: center;
	padding: 3px;
}


/*--------------- Skills section */

.skill-icon{
	float:left;
	width: 30%;
	margin-bottom: 8px;
	padding-right: 15px;
	border-right: 1px solid #8f8f8f;
}

.skill-text{
	float: right;
	width: 65%;
}

.skill-text h3{
	margin: 0;
	font-size: 19px;
	color: #151515;
}

.skill-text p{
	margin: 0;
	font-size: 16px;
}

.skill{
	margin-top: 30px;
	margin-bottom: 20px;
	max-width: 1000px;
}

.skill-section{
	max-width: 300px;
	margin: 0 auto;
	padding-bottom: 2em;
	border-top: 2px solid #59dfb4;
	border-bottom: 2px solid #59dfb4;
}

/*--------------- design section */

.design-section img{
	width: 100%;
	margin: 0;
	display: block;
	padding: 3px;
}

.design-section p{
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 2em;
}

.design-section{
	padding-top: 2em;
}

.behance-link{
	text-align: center;
	font-size: 20px;
	text-transform: uppercase;
	padding-top: 2em;
}

.behance-link a{
	color: #59dfb4;
}

/* ---------------- photography section */

.photography-section img{
	width: 100%;
	display: block;
	padding: 3px;
}

.photography-section p{
	text-align: center;
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 2em;
}

.photography-section{
	padding-top: 2em;
	padding-bottom: 8em;
}

/* ------------------ Contact Section */

.contact-section{
	background-color: #151515;
	text-align: center;
	color: white;
	position:relative;
	z-index: 101;
}

.contact-section h2{
	color: #59dfb4;
	padding-top: 1em;
	padding-bottom: 25px;
	border-bottom: 1px solid #59dfb4;
	text-align: center;
	display: inline-block;
}

.contact-info p{
	font-size: 25px;
	color: white;
	margin-top: 0;
}

.phone-number{
	font-weight: 700;
	color: rgba(180,214,193,1);
	margin-bottom: 0;
	padding-bottom: 2em;
	text-decoration: none;
}

.email{
	padding-bottom: .5em;
	margin-bottom: 0;
}

.contact-li{
	display: inline-block;
	padding-left: 0;
	margin: 8px;
	width: 25px;
	text-align: center;
}

.contact-icons{
	padding:0;
}

/* ------------------ Footer Section */
.footer{
	color: white;
	font-size: 8px;
	padding: 1em 0;
}

/* Small Screen 400 px */
@media only screen and (min-width: 25em) {
.nav-logo-2{
	display:block;
	width: 100px;
	float: left;
	margin-left: 10px;
	margin-top: 20px;
}

.banner-img{
	padding-top: 66px;
}

.nav-logo-1{
	display: none;
}

ul#nav-list{
	float: right;
	width: auto;
}

.header-section{
	padding-right: 10px;
	padding-bottom: 5px;
	padding-top: 5px;
}

h1{
	font-size: 15px;
	padding-top: 2em;
	padding-bottom: 2em;
	margin-bottom: 1.5em;
}

.design-section{
	padding-top: 4em;
}

.photography-section{
	padding-top: 4em;
}

.contact-li{
	display: inline-block;
	padding-left: 0;
	margin: 10px;
	width: 30px;
	text-align: center;
}

}

/* Small-medium screen 512	px */
@media only screen and (min-width: 32em) {

.about-section p{
	padding-left: 3em;
	padding-right: 3em;
}

.skill-icon{
	width: 25%;
}

.header-section{
	height: 75px;
}

.banner-img{
	padding-top: 75px;
}

.skill-text h3{
	font-size: 20px;
	margin-left: -15px;
}

.skill-text p{
	font-size: 17px;
	margin-left: -15px;
}

.design-section p{
	padding-left: 3em;
	padding-right: 3em;
}

.photography-section p{
	padding-left: 3em;
	padding-right: 3em;
}

.my-photos{
	max-width: 470px;
	margin: 0 auto;
}

.skill-section{
	max-width: 340px;
}

}


/* Medium screen 604 px */
@media only screen and (min-width: 38em){

.about-section{
	padding-bottom: 4em;
}

.nav-logo-2{
	width: 140px;
	margin-left: 30px;
}

h1{
	font-size: 20px;
}

.header-section{
	padding-right: 40px;
}

.skill-icon{
	width: 25%;
}

.skill-text h3{
	font-size: 18px;
	margin-left: -15px;

}

.skill-text p{
	margin-left: -15px;
	font-size: 15px;
}

.skill-section{
	max-width: 600px;
}

.my-photos{
	max-width: 500px;
	margin: 0 auto;
}

}

/* Large screen 700 px */
@media only screen and (min-width: 43.7em) {

h1{
	font-size: 18px;
}

.about-section p{
	padding: 0 80px 0 80px;
}

.skill-icon{
	width: 25%;
}

.skill-text h3{
	font-size: 18px;
	margin-left: -15px;

}

.skill-text p{
	margin-left: -15px;
	font-size: 15px;
	padding-right: 20px;
}

.skill-section{
	max-width: 700px;
	padding-left: 20px;
}

}

/* Large screen 800 px */
@media only screen and (min-width: 50em) {

h1{
	font-size: 20px;
}

.about-section img{
	display: inline-block;
	width: 75%;
	text-align: center;
	margin-left: 130px;
	padding-bottom: 2em;
}

.skill-section{
	max-width: 700px;
}

.about-section p{
	max-width: 700px;
	margin: 0 auto;
	padding: 10px;
}

.design-section p{
	max-width: 700px;
	margin: 0 auto;
}

.photography-section p{
	max-width: 700px;
	margin: 0 auto;
}

}

/* Large screen 960 px */
@media only screen and (min-width: 60em) {

h1{
	font-size: 23px;
}

.about-section p{
	max-width: 700px;
}

.quote{
	width: 60%;
	padding-bottom: 20px;
}

.design-section p{
	max-width: 800px;
 margin: 0 auto;
}

.photography-section p{
	max-width: 800px;
 margin: 0 auto;
}

.photo-img{
	max-width: 850px;
	margin: 0 auto;
}
}

/* Large screen 1188 px */
@media only screen and (min-width: 74.250em) {

h1{
	font-size: 25px;
}

.quote{
	width: 60%;
	padding-bottom: 20px;
}

.photo-img{
	max-width: 80%;
}

.about-section img{
	padding-left: 140px;
	width: 70%;
}

}
